@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap");

/* Body */

body {
  font-family: "Noto Serif Display", serif;
}

* {
  padding: 0;
  margin: 0;
}

/* Nav */

nav {
  padding: 20px 45px;
  margin: 0px 80px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.096);
}

/* Nav-links */

ul {
  list-style-type: none;
  padding: 5px;
  float: right;
  margin-right: 100px;
}
ul li {
  display: inline-block;
  margin: 0 5px;
}
ul li a {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  background: rgb(39, 0, 0);
  color: rgb(49, 49, 49);
  padding: 7px 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: font-size 1s ease-in;
}
ul li a:hover {
  background: rgb(49, 49, 49);
  color: rgb(39, 0, 0);
}

/* Title */

a {
  text-decoration: none;
  color: black;
}

.title {
  padding: 0px 150px;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

/* Background image */

.cover {
  background: linear-gradient(rgba(82, 0, 0, 0.582), rgba(20, 20, 20, 0.35)),
    url(images/background.jpg);
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

/* Span */

.sam {
  font-family: "Noto Serif JP", serif;
  color: rgb(49, 49, 49);
}

/* Heading */

.heading {
  font-weight: bold;
  font-size: 35px;
  margin-top: 25vh;
  text-align: center;
}

.cover-title {
  font-size: 85px;
}

.name-text {
  color: rgb(27, 27, 27);
}

/* Scroll */

.scroll {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: rgb(80, 0, 0);
  align-items: center;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: none;
}

.scroll-text {
  margin: none;
}

.scroll-img {
  bottom: 30px;
}

.next-img {
  transform: rotate(-90deg);
}

.prev-img {
  transform: rotate(90deg);
}

/* Hide/Show */

.hide {
  display: none;
}

/* pg1 */

.pg1h {
  color: rgb(255, 255, 255);
}

.pg1p {
  color: rgb(161, 161, 161);
}
